<!DOCTYPE HTML>
<html>
    <head>
	<title>Missing Keys Computer Parts</title>
        <link rel="stylesheet" href="style.css">
	
	<div class="head">
            <header class="site-head">
                <h1>Missing Keys Computer Parts</h1>
            </header>
        </div>
        <div class="head-links">
            <a href="index.html">Home</a>
            <a href="accounts.html">Accounts</a>
            <a href="suppliers.html">Suppliers</a>
            <a href="products.html">Products</a>
            <a href="orders.html">Orders</a> 
        </div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	{{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}
	</head>
	
<body>
	{{{body}}}
</body>
</html>
