<h1>Update {{product.name}}:</h1>
<form id="update-product" action="/product" method="post">
    Product ID: <input type="text" name="productID" value="{{product.productID}}"><br>
</form>
<button onclick="updateProduct({{order.productID}})">Update</button>
